__pycache__

# get from https://www.kaggle.com/datasets/vignonantoine/mediapipe-processed-asl-dataset/data
processed_combine_asl_dataset
processed_combine_asl_dataset/**
processed_combine_asl_dataset.zip
asl_dataset*

# get from https://ai.google.dev/edge/mediapipe/solutions/vision/hand_landmarker
hand_landmarker.task

# scratch file
test.py
test.png

# datasets (too large for github)
mp-landmarks-to-asl.csv
mp-to-asl.csv

# ask authors to get models
mp-to-asl-cnn-model*.h5
mp-to-asl-cnn-model*.keras
mp-landmarks-to-asl-nn.keras